.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://i.ibb.co/tMkNr1s/character-select.png');
  background-size: 1450px 800px;
  background-repeat: no-repeat;
  /* width: 300px;
  height: 300px; */
}
