.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://i.ibb.co/HxBXZPT/character-select-3-1920x1080.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: center; */
  /* background: url('https://i.ibb.co/tMkNr1s/character-select.png'); */
  /* background-size: 1450px 800px;
  background-repeat: no-repeat; */
}

h1 {
  color: yellow;
}

/* STYLING FOR CHARACTER SELECT BUTTON */

/* body .cS button {
  position: static;
  width: 35%;
  height: 40px;
  margin-top: 18px;
  cursor: pointer;
  opacity: 0;
} */

/* STYLING FOR FIRST ROW BUTTONS */

.firstrow {
  opacity: 0;
}

.firstrow .cS button {
  position: relative;
  top: 20px;
  width: 33%;
  height: 40px;
  cursor: pointer;
}
.firstrow .btn1 button {
  position: relative;
  top: 80px;
  right: 280px;
  width: 7%;
  height: 50px;
  cursor: pointer;
}

.firstrow .btn2 button {
  position: relative;
  top: 35px;
  right: 70px;
  height: 50px;
  width: 6.5%;
  cursor: pointer;
}

.firstrow .btn3 button {
  position: relative;
  width: 6.5%;
  height: 48px;
  left: 98px;
  bottom: 2px;
  cursor: pointer;
}

.firstrow .btn4 button {
  position: relative;
  width: 6.5%;
  height: 48px;
  bottom: 100px;
  left: 384px;
  cursor: pointer;
}

/* STYLING FOR SECOND ROW BUTTONS */
.secondrow {
  opacity: 0;
}

.secondrow .btn5 button {
  position: relative;
  width: 6.5%;
  height: 48px;
  right: 246px;
  top: 17px;
  cursor: pointer;
}

.secondrow .btn6 button {
  position: relative;
  width: 6.6%;
  height: 48px;
  left: 36px;
  bottom: 18px;
  cursor: pointer;
}

.secondrow .btn7 button {
  position: relative;
  width: 6.5%;
  height: 49px;
  left: 400px;
  bottom: 125px;
  cursor: pointer;
}

.secondrow .btn8 button {
  position: relative;
  width: 6.5%;
  height: 49px;
  left: 335px;
  bottom: 46px;
  cursor: pointer;
}

/* STYLING FOR CHARACTERS SELECT SCREEN 
 FIRST ROW */

.cstop {
  opacity: 0;
}

.cstop .ryubtn button {
  position: relative;
  width: 8%;
  height: 108px;
  right: 177px;
  cursor: pointer;
  top: 85px;
}

.cstop .hondabtn button {
  position: relative;
  width: 8%;
  height: 108px;
  bottom: 22px;
  right: 55px;
  cursor: pointer;
}

.cstop .blankabtn button {
  position: relative;
  width: 7.9%;
  height: 108px;
  bottom: 130px;
  left: 65px;
  cursor: pointer;
}

.cstop .guilebtn button {
  position: absolute;
  height: 108px;
  width: 7.8%;
  top: 515px;
  left: 850px;
  cursor: pointer;
}

/* STYLING FOR CHARACTERS SELECT SCREEN 
 SECOND ROW */

.cbot {
  opacity: 0;
}

.cbot .kenbtn button {
  position: absolute;
  height: 108px;
  width: 7.8%;
  top: 630px;
  left: 490px;
  cursor: pointer;
}

.cbot .chunlibtn button {
  position: absolute;
  height: 108px;
  width: 8%;
  bottom: 50px;
  left: 609px;
  cursor: pointer;
}

.cbot .zangiefbtn button {
  position: absolute;
  height: 108px;
  width: 7.8%;
  top: 630px;
  left: 730px;
  cursor: pointer;
}

.cbot .dhalsimbtn button {
  position: absolute;
  height: 108px;
  width: 7.8%;
  top: 630px;
  left: 850px;
  cursor: pointer;
}
